/**
 * Theme attempt to replicate OU EECS branded presentation tempalte.
 * 
 * Based on black.scss theme by Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #024230;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: p22-mackinac-pro, 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: p22-mackinac-pro, 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #A4D65E;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Theme but with light background -------------
$lightBackgroundColor: #F9F7ED;
$lightHeadingColor: #024230; 
$lightMainColor: #024230;

.ou-light {
	color: $lightMainColor !important;
}

.ou-light h1,
.ou-light h2,
.ou-light h3,
.ou-light h4,
.ou-light h5,
.ou-light h6 {
	color: $lightHeadingColor !important;
}

// Header and footer ---------------------------

// When ?print-pdf.
.slide-background.ou-light .ou-header-left img {
    content: url("../../img/OHIO_primary_logo_RGB_Cutler.png");
}

.slide-background.ou-light .ou-footer-left {
    color: $lightMainColor !important;
}

// Normal viewing.
// .ou-footer-left.ou-light {
//     color: $lightMainColor !important;
// }